<link rel="stylesheet" href="../../styles.css">
<header>
    <nav>
        <a href="../../index.html" class="logo padding-8 padding-left-72 work ">YC</a>
        <ul class="nav-links font-14">
            <li><a href="../../index.html">Work</a></li>
        </ul>
    </nav>
</header>
<div class="container self-intro">
    <div class="font-38 self-intro-text"> dSuite from Dedoco</div>
</div>
<div class="container testimonial">
    <div class="quote-source">
        — Written 2023 —
    </div>
    <div class="quote">
        An AI & blockchain-powered digital trust platform for business processes. The platform is capabable of providing signing, 
        business process integration, and real-time verification for documents processed.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        MY ROLE
    </div>
    <div class="quote-source">
        As Head of Product for the platform, I worked with our multidisciplinary team to take the assistant from conception to launch. 
        I conducted research, user interviews, managed customer onboarding, oversaw AI training & blockchain implementation, and worked 
        closely with the C-level team, product designer and lead engineer.  
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        EVOLUTION OF THE PRODUCT
    </div>
    <div class="quote-source">
        The original concept of the platform is to provide digital signing experience backed by the blockchain technology. We were able to
        again traction from the market with a couple of large banks and Singapore governmental bodies The platform proved to be a big success 
        giving us full detail into the pain points for paperless signing. <br><br>

        After the initial success of the product, the product team continue to discover various business problems. The platform was unenjoyable 
        and created a poor experience with the use of old & traditional interfaces; the initial feedback mirrored this issue, and that's the 
        reason we undergo a large scale UI & UX Revamp of the platform. With a huge surprise to the market, the platform further strengthen the 
        confidence from users on the improved experience. <br><br>

        With the progression of serving more business process, we extend the platform's coverage from merely document signing to digital forms & 
        certificates issuance, which is again a validated huge demand from the Singaporean & Australian markets. <br><br>

        The continuous demand on protection of scams (email & sms frauds) also caught our attention at a later stage, and that's the phase we start 
        further progress to a more comprehensive digital trust platform.
    </div>
</div>
<div class="container">
    <img src="../assets/dedoco-endorsement.png" alt="dedoco-endorsement">
</div>
<div class="container testimonial">
    <div class="quote">
        KEY METRICS
    </div>
    <div class="quote-source">
        - 45% of new user adoption across the different products of the Suite.<br><br>
 
        - Attaining at least 60% of verification rate for documents processed.<br><br>
 
        - Processes over 10K data point from blockchain, business process generated, and users.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        LEARNINGS
    </div>
    <div class="quote-source">
        - As one of the most recent products I've worked on, I've validated that I can work with new technologies (e.g. AI, ML, Blockchain) and grow with the product & tech teams on how to leverage these new techs to our product.<br><br>
 
        - How to build a full functional product team from scratch. This means from an IC to become a managerial role and make the team work and progress.<br><br>
         
        - How to synthesize complex information such as "Trust" into accessible formats. This further solidify the understanding of user problem by dissecting them piece by piece.<br><br>
                 
        - How to keep pivoting the product we are building based on market change and working with different types of audience / users.<br><br>
        
        - How to work closely with C-levels and the leadership team to make day to day business decisions. With every single day & resource that counts in a venture-backed startup.<br><br>                 
    </div>
</div>