<link rel="stylesheet" href="../../styles.css">
<header>
    <nav>
        <a href="../../index.html" class="logo padding-8 padding-left-72 work ">YC</a>
        <ul class="nav-links font-14">
            <li><a href="../../index.html">Work</a></li>
        </ul>
    </nav>
</header>
<div class="container self-intro">
    <div class="font-38 self-intro-text"> Phone Number Masking from Lalamove</div>
</div>
<div class="container testimonial">
    <div class="quote-source">
        — Written 2021 —
    </div>
    <div class="quote">
        A pioneer in urban logistics that redefines the delivery landscape with its advanced app-based platform, 
        connecting a vast network of professional drivers to facilitate swift and efficient urban logistics. 
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        MY ROLE
    </div>
    <div class="quote-source">
        As Product Manager for the platform, I worked within the communication & platform team to make the feature from conception to launch. 
        I conducted research & quantitative analysis, managed customer onboarding, oversaw the sub product team of 3 people.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        EVOLUTION OF THE PRODUCT
    </div>
    <div class="quote-source">
        Lalamove as a prominent player in the logistics and delivery industry, has continually evolved its technology to enhance user privacy and security. <br><br>
        A significant advancement in this regard has been the implementation of phone number masking within its app. This feature, introduced to 
        safeguard the personal contact details of both customers and drivers, works by creating a unique, temporary phone number for each transaction. <br><br>
        When a customer and a driver need to communicate, they can do so through this temporary number, ensuring that their actual phone numbers remain 
        undisclosed. This development not only fortifies privacy but also builds trust in the platform, as it addresses concerns related to the sharing 
        of personal information. <br><br>
        The implementation of phone number masking is a reflection of the company's commitment to user security, adapting to the 
        changing landscape of digital communication and privacy needs.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        KEY METRICS
    </div>
    <div class="quote-source">
        - 70% of decrease in fraud rate due to misuse of phone number exposure.<br><br>
 
        - Attaining an average of 80% user adoption rate on this feature globally.<br><br>
 
        - Ensure that at least 75% of the feedback received is positive on it.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        LEARNINGS
    </div>
    <div class="quote-source">
        - How to work on global scale feature and perform the proper release strategy accordingly to minimize risk and costs.<br><br>
 
        - How to work with cross product teams (user & driver teams) to launch and build the feature to meet the timeline, together with alignment with legal & compliance teams.<br><br>
         
        - How to build communication and security related feature by integraing with telecommunication services and overcoming technical challenges, with complex use cases and scenario from a logistics product.<br><br>                 
    </div>
</div>