<div class="container testimonial">
    <div class="quote">
        "I wholeheartedly recommend [YC] for any senior Product Management role he chooses to pursue next. In my capacity as the COO of Dedoco, I had the pleasure of working with [YC] for over a year, during which he was an integral part of our senior leadership team. His blend of leadership and camaraderie combined with his relentless pursuit of excellence, set him apart in our organization" </br></br>
    </div>
    <div class="quote-source">
        — Eric Koh, COO @ Dedoco (Direct Manager)
    </div>
</div>