<link rel="stylesheet" href="../../styles.css">
<header>
    <nav>
        <a href="../../index.html" class="logo padding-8 padding-left-72 work ">YC</a>
        <ul class="nav-links font-14">
            <li><a href="../../index.html">Work</a></li>
        </ul>
    </nav>
</header>
<div class="container self-intro">
    <div class="font-38 self-intro-text">YouTrip 2.0 - The Next Generation</div>
</div>
<div class="container testimonial">
    <div class="quote-source">
        — Written 2021 —
    </div>
    <div class="quote">
        YouTrip is a multi-currency mobile wallet designed to simplify overseas spending and currency exchange for travelers. 
        Leveraging smart technology, it allows users to pay in over 150 currencies with no hidden fees, making it an ideal 
        financial companion for frequent international travelers.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        MY ROLE
    </div>
    <div class="quote-source">
        As Product Manager for the entire revamp, I worked closely with the design team and my tech squad to make the feature from conception to launch. 
        I conducted focus groups & design research, consolidated feedback from users, literally re-building the app from 0 to 1.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        EVOLUTION OF THE PRODUCT
    </div>
    <div class="quote-source">
        YouTrip, a multicurrency wallet complemented by the YouTrip card, a Mastercard usable globally, offers users a seamless experience. Singaporeans 
        and Thais can swiftly sign up, accessing a wallet accommodating up to 10 currencies. <br><br>Users can exchange currencies 24/7 at competitive rates 
        through Mastercard's international network spanning 210 countries. Notably, there's no markup; users transact at Mastercard's wholesale rate, 
        making YouTrip a convenient, pocket-sized currency changer. <br><br>The revenue model relies on a ~2% fee charged to merchants for every transaction, 
        emphasizing scalability through increased user spending and monthly active users. With version 2.0, YouTrip aims to evolve beyond a spending card, 
        deepen market leadership, and standardize its design system.<br><br>

        In pursuit of these goals, the product team emphasizes alignment with the company's objectives. Three key aspirations for YouTrip 2.0 include 
        evolving beyond a spending card by introducing new features, deepening market leadership through innovation, and standardizing the design system 
        for consistency and scalability. <br><br>The user-centric approach involves a massive NPS survey and an extensive user study across Singapore, Thailand, 
        and Malaysia. The insights garnered emphasize user goals centered on convenient spending, saving, and a desire for transparency and trust. This 
        user-focused foundation is crucial for the success of YouTrip 2.0.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        KEY METRICS
    </div>
    <div class="quote-source">
        - Decrease the User Acquisition Cost by 15% within the first six months post YouTrip 2.0 launch.<br><br>
 
        - A 20% increase in MAU within the first six months after launch. Maintain a user retention rate of at least 80% over the same period, indicating 
        sustained user interest and satisfaction.<br><br>
 
        - Achieve a 30% adoption rate for new features introduced in YouTrip 2.0 within the first three months of launch.
    </div>
</div>
<div class="container testimonial">
    <div class="quote">
        LEARNINGS
    </div>
    <div class="quote-source">
        - How to strike a balance between innovation and familiarity is vital. Innovate strategically without overwhelming users, ensuring thoughtful changes for an enhanced experience.<br><br>
 
        - How to embrace a metrics-driven approach for effective product management. Define clear goals, track key metrics, and make data-driven decisions for ongoing evaluation and improvement.<br><br>
         
        - How active user engagement, from ideation to rollout, is crucial for product success. Continuous feedback and usability testing help align the product with user needs.<br><br>                 
    </div>
</div>